$breakpointSmallMin: 576px;
$breakpointMediumMin: 768px;
$breakpointLargeMin: 992px;
$breakpointXlargeMin: 1200px;

$breakpointSmallMax: 575.98px;
$breakpointMediumMax: 767.98px;
$breakpointLargeMax: 991.98px;
$breakpointXlargeMax: 1199.98px;
