body {
  margin: 0;
  font-family: "Muli", sans-serif;
}

#container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.getStartedButton {
  background: #007ea3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 24px;
}

.welcomeSectionHeader {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.welcomeParagraph {
  margin-bottom: 10px;
}

.categoryRow {
  display: flex;
  margin: 20px;
}

.categoryRow > div:first-of-type {
  margin-right: 10px;
}

.categoryTitle {
  font-weight: bold;
  margin-bottom: 3px;
}

.categorySelect {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #374b5b;
  padding: 6px 36px 6px 16px;
  font-size: 14px;
  cursor: pointer;
}

.filterButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background: #374b5b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
  font-size: 14px;
  cursor: pointer;
}

.filterSection {
  padding: 16px 0;
  border-bottom: 1px solid rgba(90, 122, 148, 0.2);
}

.filterSectionTitle {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  margin-bottom: 16px;
}

.filterRow {
  display: flex;
}

.filterRow:not(:last-of-type) {
  padding-bottom: 20px;
}

.filterRow > input {
  align-self: flex-start;
}

.filterLabel {
  padding-left: 12px;
}

.filterLabel > label {
  font-size: 16px;
}

.filterLabel > div {
  color: #5a7a94;
  padding-top: 4px;
  font-size: 14px;
}

button:focus {
  outline: none;
}

.overlay {
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 20;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 14px rgba(6, 8, 10, 0.1);
}

.ratingsIcon {
  float: right;
  margin-left: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: rgba(90, 122, 148, 0.2);
}

a {
  color: #374b5b;
}

.detailLabel {
  padding: 5px 0;
}

.detailDescription {
  color: #5a7a94;
}
