/* General styles */

@import 'breakpoints';

body {
  margin: 0;
  font-family: "Muli", sans-serif;
}

input,
textarea,
button {
  font-family: inherit;
}

#container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}

button:focus {
  outline: none;
}

a {
  color: #374b5b;
}

hr {
  border: 0;
  height: 1px;
  background: rgba(90, 122, 148, 0.2);
}

/* Welcome page */
.welcomePage {
  .better {
    color: white;
    background-image: url(./illustrations/confetti.png);
  }

  .out-there {
    background-color: #ECE5DE;
  }

  .bottom-cta {
    background-color: #374B5B;
    color: white;

    @media (min-width: $breakpointSmallMin) {
      flex-direction: row;
      font-size: 24px;
      justify-content: center;
    }

    .welcomePageButton {
      color: #374b5b;
      background-color: white;
      margin: 4px 0 20px 0;
    }
  }

  .top-cta {
    @media (min-width: $breakpointSmallMin) {
      flex-direction: row-reverse;
      text-align: left;
      justify-content: center;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 24px;

    @media (min-width: $breakpointSmallMin) {
      padding: 128px 50px;
      &.top-cta, &.bottom-cta {
        padding: 50px;
      }
    }
  }

  .icon {
    height: 20px;
    margin-left: 6px;
    padding-bottom: 4px;
    vertical-align: middle;
  }

  .torontoIllustration {
    height: 250px;

    @media (min-width: $breakpointSmallMin) {
      height: 380px;
      margin-left: 50px;
    }
  }

  .welcomeSectionHeader {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    @media (min-width: $breakpointSmallMin) {
      font-size: 32px;
      margin-bottom: 32px;
    }
  }

  .welcomeSectionParagraph {
    max-width: 600px;
    font-size: 18px;
    @media (min-width: $breakpointSmallMin) {
      font-size: 22px;
      max-width: 700px;
    }
  }

  .welcomePageButton {
    background-color: #374b5b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 800;
  }

  .welcomeFooterContent {
    @media (min-width: $breakpointSmallMin) {
      max-width: 500px;
      text-align: left;
    }

    & > .welcomeSectionParagraph {
      margin-bottom: 24px;
    }
  }

  .logo {
    position: absolute;
    top: 24px;
    left: 24px;
    height: 50px;
    @media (min-width: $breakpointSmallMin) {
      position: static;
      margin-bottom: 16px;
    }
  }

  .welcomeHeaderIllustration {
    height: 200px;
    margin-top: 40px;
    @media (min-width: $breakpointSmallMin) {
      height: 500px;
      margin-left: 30px;
    }
  }

  .welcomeHeaderContent {
    @media (min-width: $breakpointSmallMin) {
      max-width: 500px;
    }
  }

  .welcomeTitle {
    font-size: 32px;
    font-weight: 600;
    margin: 24px 0;
    @media (min-width: $breakpointSmallMin) {
      font-size: 48px;
    }
  }

  .welcomeSubtitle {
    margin-bottom: 24px;
    font-size: 18px;
    @media (min-width: $breakpointSmallMin) {
      font-size: 22px;
    }
  }

  footer {
    color: white;
    background-color: black;
    padding: 20px 24px;
    text-align: center;
    line-height: 20px;
    display: flex;
    flex-direction: column;
  }

  footer > a {
    margin: 4px 0;
    color: white; /* override default link style */
    text-decoration: none;
  }
}

.categorySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px 0 16px;
}

.categorySection > img {
  height: 100px;
}

.categoryTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

@media (min-width: 1000px) {
  .categorySections {
    display: flex;
    margin-top: 16px;
  }

  .categorySection {
    width: 178px;
  }

  .categoryTitle {
    font-size: 22px;
    margin: 16px 0;
  }

  .categoryDescription {
    font-size: 16px;
  }
}

/* Filter controls */

.categorySelect {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #374b5b;
  padding: 6px 36px 6px 16px;
  font-size: 14px;
  cursor: pointer;
}

.filterButton {
  background: #374b5b;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
  font-size: 14px;
  cursor: pointer;
}

/* Filter overlay */

.filterSection {
  padding: 16px 0;
  border-bottom: 1px solid rgba(90, 122, 148, 0.2);
}

.filterSectionTitle {
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
}

.filterExpandButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 6px;
}

.filterRow {
  display: flex;
  padding-top: 18px;
}

.filterRow > input {
  align-self: flex-start;
}

.filterLabel {
  padding-left: 12px;
}

.filterLabel > label {
  font-size: 16px;
}

.filterLabel > div {
  color: #5a7a94;
  padding-top: 4px;
  font-size: 14px;
}

/* Detail view */

.detailLabel > .stars {
  float: right;
}

.stars > img:not(:first-of-type) {
  margin-left: 8px;
}

.ratingLegendItem {
  padding: 16px 0;
}

.ratingLegendItem:not(:last-of-type) {
  border-bottom: 1px solid rgba(90, 122, 148, 0.2);
}

.detailLabel {
  padding: 5px 0;
}

.detailDescription {
  color: #5a7a94;
}
