body {
  margin: 0;
  font-family: "Lora", serif;
}

#container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.controlButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.controlButton:hover,
.controlButton:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.controlButton:focus {
  outline: none;
}

.overlay {
  padding: 20px;
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.ratingsIcon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
