/* General styles */

body {
  margin: 0;
  font-family: "Muli", sans-serif;
}

#container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.selectedPin {
  z-index: 10;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: white;
}

button:focus {
  outline: none;
}

a {
  color: #374b5b;
}

hr {
  border: 0;
  height: 1px;
  background: rgba(90, 122, 148, 0.2);
}

/* Welcome page */

.logo {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 50px;
}

.welcomeHeaderIllustration {
  height: 200px;
  margin-top: 40px;
}

.welcomeTitle {
  font-size: 32px;
  font-weight: bold;
  margin: 24px 0;
}

.welcomeSubtitle {
  margin-bottom: 24px;
  font-size: 18px;
}

.welcomeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 16px;
}

.welcomeSectionHeader {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
}

.welcomeSectionParagraph {
  max-width: 600px;
  margin-bottom: 16px;
}

.getStartedButton {
  background: #374b5b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.categorySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 16px;
}

.categorySection:not(:last-of-type) {
  margin-bottom: 10px;
}

.categorySection > img {
  height: 100px;
}

.categoryTitle {
  font-weight: bold;
  margin: 10px 0;
}

.torontoIllustration {
  height: 250px;
}

@media (min-width: 850px) {
  .logo {
    position: static;
    margin-bottom: 16px;
  }

  .welcomeSection:first-of-type {
    flex-direction: row-reverse;
    text-align: left;
    justify-content: center;
  }

  .welcomeHeaderContent {
    max-width: 500px;
  }

  .welcomeTitle {
    font-size: 48px;
  }

  .welcomeSubtitle {
    font-size: 22px;
  }

  .welcomeHeaderIllustration {
    height: 300px;
    margin-left: 30px;
  }

  .welcomeSection {
    padding: 50px;
  }

  .welcomeSectionHeader {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .welcomeSectionParagraph {
    font-size: 22px;
    max-width: 700px;
  }

  .categorySections {
    display: flex;
    margin-top: 16px;
  }

  .categorySection {
    width: 178px;
  }

  .categoryTitle {
    font-size: 22px;
    margin: 16px 0;
  }

  .categoryDescription {
    font-size: 16px;
  }

  .welcomeSection:last-of-type {
    flex-direction: row;
    font-size: 24px;
    justify-content: center;
  }

  .welcomeFooterContent {
    max-width: 500px;
  }

  .torontoIllustration {
    height: 380px;
    margin-left: 50px;
  }
}

/* Filter controls */

.categorySelect {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #374b5b;
  padding: 6px 36px 6px 16px;
  font-size: 14px;
  cursor: pointer;
}

.filterButton {
  background: #374b5b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 20px;
  font-size: 14px;
  cursor: pointer;
}

/* Filter overlay */

.filterSection {
  padding: 16px 0;
  border-bottom: 1px solid rgba(90, 122, 148, 0.2);
}

.filterSectionTitle {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

.filterExpandButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 6px;
}

.filterRow {
  display: flex;
  padding-top: 18px;
}

.filterRow > input {
  align-self: flex-start;
}

.filterLabel {
  padding-left: 12px;
}

.filterLabel > label {
  font-size: 16px;
}

.filterLabel > div {
  color: #5a7a94;
  padding-top: 4px;
  font-size: 14px;
}

/* Detail view */

.detailLabel > .stars {
  float: right;
}

.stars > img:not(:first-of-type) {
  margin-left: 8px;
}

.ratingLegendItem {
  padding: 16px 0;
}

.ratingLegendItem:not(:last-of-type) {
  border-bottom: 1px solid rgba(90, 122, 148, 0.2);
}

.detailLabel {
  padding: 5px 0;
}

.detailDescription {
  color: #5a7a94;
}
