.navigation {
  background-color: white;

  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;

  padding: 20px;

  a {
    color: #374B5B;
    text-decoration: none;
    display: inline-block;
  }
}
